@charset 'utf-8';

/* 에스코어드림 */
@font-face {
  font-family: "S-CoreDream-4Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 넥슨 lv2 고딕 */
@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  color: #505050;
  --font_ScoreDream: "S-CoreDream-4Regular";
  --font_nexon: "NEXON Lv2 Gothic";
  --font_size_H1: 48px;
  --font_size_H2: 32px;
  --font_size_H3: 24px;
  --font_size_H4: 16px;
  --font_size_b1: 24px;
  --font_size_b2: 16px;
  --font_size_b3: 14px;
  --point_color: #bb0712;
  --main_color1: #f8eee8;
  --main_color2: #f2f8fe;
  --main_color3: #fff9f2;
  --main_color4: #6e0f16;
  --main_color5: rgba(244, 214, 95, 0.5);
  --color_black: #202020;
  --color_white: #ffffff;
  --color_gray: #bebebe;
  --color_light_gray: #ededed;
  --speed_03: 0.3s;
}

.mw {
  width: calc(100% - 2rem);
  max-width: 1350px;
  margin: auto;
}

.font_red {
  color: var(--point_color);
}

img {
  width: 100%;
}

/* header start */
.hd {
  /* border: 1px solid red; */
  padding-top: 5px;
  position: relative;
}

.hd::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: var(--color_light_gray);
  top: 57%;
  left: 0;
}

.hd .hd_top {
  /* border: 1px solid violet; */
  text-align: center;
  position: relative;
}

.hd .hd_top a {
  /* border: 1px solid red; */
  display: inline-block;
}

.hd .sns_icons {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 1.5rem;
}

.hd .sns_icons a {
  padding: 0 0.5rem;
}

.hd .sns_icons i {
  transition: var(--speed_03);
}

.hd .sns_icons a:hover i {
  scale: 1.25;
}

.hd .gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font_size_H4);
  font-family: var(--font_ScoreDream);
}

.hd .gnb > li {
  /* border: 1px solid saddlebrown; */
  width: 100%;
  text-align: center;
  position: relative;
  white-space: nowrap;
}

.hd .gnb > li:hover {
  background-color: var(--point_color);
}

.hd .gnb > li > a {
  display: block;
  width: 100%;
  line-height: 40px;
  /* border: 1px solid gold; */
}

.hd .gnb > li:hover > a {
  color: var(--color_white);
}

.hd .sub {
  /* border: 1px solid red; */
  position: absolute;
  width: 100%;
  height: 0;
  line-height: 250%;
  overflow: hidden;
  z-index: 10;
  transition: var(--speed_03);
  background-color: var(--color_white);
}

.hd .gnb:hover .sub {
  height: 500%;
}

.hd .sub::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color_gray);
  position: absolute;
  top: 0;
  left: 0;
}

.hd .sub::after {
  content: "";
  position: absolute;
  top: 3%;
  left: 0;
  width: 1px;
  height: 95%;
  background-color: var(--color_gray);
}

.hd .gnb > li:first-of-type .sub::after {
  display: none;
}

.hd .sub a {
  /* border: 1px solid red; */
  display: block;
  width: 100%;
  position: relative;
  transition: var(--speed_03);
}

.hd .sub a::after {
  content: "";
  background-color: var(--point_color);
  position: absolute;
  top: 15%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 0;
  transition: var(--speed_03);
}

.hd .sub a:hover {
  scale: 1.1;
}

.hd .sub a:hover::after {
  opacity: 1;
}

/* header end */
/* floating menu */

.floating {
  /* border: 1px solid red; */
  background-color: var(--main_color3);
  border-radius: 999px;
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  position: fixed;
  right: 0.5%;
  top: 13vh;
  z-index: 10;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.floating > div {
  /* border: 1px solid green; */
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.floating > div:last-of-type {
  margin-bottom: 0;
}

.floating > div:hover {
  color: var(--point_color);
  font-weight: bolder;
}

.floating > div:hover img {
  scale: 1.1;
}

.floating .floating_img {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
}

.floating > div p {
  /* border: 2px solid black; */
  display: inline-block;
  text-align: center;
  font-size: var(--font_size_b2);
  font-family: var(--font_nexon);
}

.floating > div a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.floating img {
  width: 50%;
  transition: var(--speed_03);
}

/* floating mobile */

.m_floating_btn {
  display: none;
  background-color: var(--main_color3);
  position: fixed;
  width: 40px;
  height: 40px;
  top: 13vh;
  right: 0;
  z-index: 30;
  text-align: center;
  font-size: 1.5rem;
  line-height: 40px;
  border-radius: 50% 0 0 50%;
  cursor: pointer;
  color: var(--color_gray);
  transition: var(--speed_03);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.m_floating_btn.on {
  right: 70px;
}

.m_floating_btn.on ~ article {
  right: 0;
}

.m_floating_btn:hover {
  color: var(--color_black);
}

.m_floating_btn .right {
  display: none;
}

.m_floating_btn.on .right {
  display: block;
}

.m_floating_btn.on .left {
  display: none;
}

.m_floating {
  display: none;
  background-color: var(--main_color3);
  /* border-radius: 999px; */
  width: 70px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  position: fixed;
  right: -70px;
  top: 13vh;
  z-index: 30;
  transition: var(--speed_03);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.m_floating > div {
  /* border: 1px solid green; */
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.m_floating > div:last-of-type {
  margin-bottom: 0;
}

.m_floating > div:hover {
  color: var(--point_color);
  font-weight: bolder;
}

.m_floating > div:hover img {
  scale: 1.1;
}

.m_floating .floating_img {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
}

.m_floating > div p {
  /* border: 2px solid black; */
  display: inline-block;
  text-align: center;
  font-size: 0.8rem;
  font-family: var(--font_nexon);
  white-space: nowrap;
}

.m_floating > div a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* border: 1px solid red; */
}

.m_floating img {
  width: 50px;
  height: 50px;
  transition: var(--speed_03);
}

/* gotop btn */

.gotop {
  position: fixed;
  bottom: 1.5%;
  right: 1.5%;
  z-index: 30;
}

.gotop p {
  font-size: 2rem;
  transition: var(--speed_03);
}

.gotop:hover p {
  transform: translateY(-15%);
  color: var(--point_color);
}

/* floating end */
/* section 1 start */

.sec1 li {
  padding-top: 20%;
}

.sec1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec1 .sec1_pg > span {
  background-color: var(--point_color);
}

/* section 1 end */
/* section 2 start */

.sec2 {
  padding: 7rem 0;
  overflow: hidden;
  position: relative;
  /* border: 1px solid red; */
}

.sec2::before {
  content: "";
  background-image: url(../resource/leaf.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 5px;
  left: -10px;
  width: 100px;
  height: 70px;
  transform: rotate(-170deg);
}

.sec2::after {
  content: "";
  background-image: url(../resource/leaf.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 5px;
  right: -15px;
  width: 150px;
  height: 100px;
}

.sec2_h2_wrap {
  text-align: center;
}

.sec2 h2 {
  font-size: var(--font_size_H1);
  font-family: var(--font_ScoreDream);
  display: inline;
  font-weight: bold;
  position: relative;
  /* border: 1px solid aqua; */
}

.sec2 h2::before {
  content: "";
  background-image: url(../resource/duddle01.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  display: block;
  top: -20px;
  left: -23px;
  /* top: -3%;
  left: 33.5%; */
  width: 10%;
  height: 70%;
}

.sec2 .sec2_inner > p {
  font-size: var(--font_size_b2);
  font-family: var(--font_nexon);
}

.sec2 .brand_desc {
  /* border: 1px solid gray; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 0;
  /* border: 1px solid blue; */
}

.sec2 .brand_symbol img {
  /* position: absolute; */
  text-align: center;
  width: 100%;
  /* height: 100%; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.sec2 .brand_desc .brand_txt {
  /* border: 3px solid lavender; */
  flex: 1;
  padding-left: 5%;
  font-size: var(--font_size_b1);
  font-family: var(--font_nexon);
  /* border: 1px solid green; */
}

.sec2 .value_con {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

.sec2 .value_con article {
  /* border: 1px solid slateblue; */
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.sec2 .value_con article:first-of-type {
  margin-right: 2rem;
}

.sec2 .value_img {
  /* border: 1px solid red; */
  position: relative;
  overflow: hidden;
  width: 40%;
  padding-top: 40%;
}

.sec2 .value_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec2 .special_tea img {
  width: 300%;
}

.sec2 .rosting img {
  width: 170%;
}

.sec2 .value_desc {
  /* border: 1px solid green; */
  flex: 1;
  padding: 0 2%;
  position: relative;
}

.sec2 .value_desc h3 {
  padding-top: 3%;
  font-size: var(--font_size_H3);
  font-family: var(--font_ScoreDream);
}

.sec2 .value_desc p {
  font-family: var(--font_nexon);
  font-size: var(--font_size_b3);
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 3% 0 0 0;
  margin-bottom: 2.5rem;
  /* border: 1px solid bisque; */
}

.sec2 .value_desc a {
  /* border: 1px solid salmon; */
  display: block;
  position: absolute;
  bottom: 1%;
  right: 1%;
  text-align: center;
  font-size: var(--font_size_b2);
  font-family: var(--font_nexon);
  background-color: var(--main_color4);
  color: var(--color_white);
  padding: 0.3rem 4rem 0.3rem 1rem;
  border-radius: 999px;
}

.sec2 .value_desc a::before,
.sec2 .value_desc a::after {
  content: "";
  height: 2px;
  position: absolute;
  top: auto;
  left: auto;
  transition: var(--speed_03);
  background-color: var(--color_white);
}

.sec2 .value_desc a::before {
  width: 20%;
  bottom: 39%;
  right: 20%;
}

.sec2 .value_desc a::after {
  width: 8%;
  bottom: 50%;
  right: 19%;
  transform: rotate(45deg);
}

.sec2 .value_desc a:hover::before {
  right: 13%;
}

.sec2 .value_desc a:hover::after {
  right: 12%;
}

/* section 2 end */
/* section 3 start */

.sec3 {
  background-color: var(--main_color1);
  padding: 7rem 0;
  overflow: hidden;
  position: relative;
  /* border: 1px solid red; */
}

.sec3::before {
  content: "";
  background-image: url(../resource/coffee_cup.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 30px;
  left: 25px;
  width: 90px;
  height: 130px;
}

.sec3::after {
  content: "";
  background-image: url(../resource/human01.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 15px;
  right: 0px;
  width: 150px;
  height: 100px;
}

.sec3 img {
  width: auto;
  height: 100%;
}

.sec3_h2_wrap {
  text-align: center;
  padding-bottom: 3%;
}

.sec3 h2 {
  text-align: center;
  font-size: var(--font_size_H1);
  font-family: var(--font_ScoreDream);
  font-weight: bold;
  position: relative;
  display: inline;
}

.sec3 h2::before {
  content: "";
  background-image: url(../resource/duddle02.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -8px;
  left: -20px;
  width: 12%;
  height: 45%;
}

.sec3 .menu_tab {
  /* border: 1px solid red; */
  position: relative;
}

.sec3 .sec3_btns {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid red; */
  padding-bottom: 3%;
}

/* .menu_btn = button */
.sec3 .menu_btn {
  background-color: transparent;
  font-size: var(--font_size_H2);
  font-family: var(--font_ScoreDream);
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 1rem;
  /* border: 1px solid blue; */
}

.sec3 .menu_btn::before,
.sec3 .menu_btn::after {
  content: "";
  background-color: var(--point_color);
  position: absolute;
  transition: var(--speed_03);
}

.sec3 .menu_btn::before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 10%;
  right: 0;
  opacity: 0;
}

.sec3 .menu_btn::after {
  width: 0;
  height: 2px;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.sec3 .menu_btn:hover::before {
  opacity: 1;
}

.sec3 .menu_btn.on::before {
  opacity: 1;
}

.sec3 .menu_btn.on::after {
  width: calc(100% - 1rem);
}

.sec3 .menu_con {
  display: none;
  position: relative;
  /* border: 1px solid red; */
}

.sec3 .menu_con.on {
  display: block;
}

.sec3 .inner {
  /* border: 1px solid seagreen; */
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: var(--speed_03);
}

.sec3 .inner:hover {
  scale: 1.05;
}

.sec3 .inner::after {
  content: "";
  position: absolute;
  top: 10%;
  width: 200px;
  height: 200px;
  background-color: var(--main_color5);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: var(--speed_03);
}

.sec3 .inner:hover::after {
  opacity: 1;
}

.sec3 .inner .menu_title {
  font-size: var(--font_size_H3);
  font-family: var(--font_ScoreDream);
  color: var(--color_black);
  padding: 1rem 0;
}

.sec3 .inner .menu_desc {
  font-size: var(--font_size_b2);
  font-family: var(--font_nexon);
  text-align: center;
}

/* sec3 menu swiper navigation */

.sec3 .sec3_prev_new::before,
.sec3 .sec3_next_new::before,
.sec3 .sec3_prev_hot::before,
.sec3 .sec3_next_hot::before,
.sec3 .sec3_prev_ice::before,
.sec3 .sec3_next_ice::before,
.sec3 .sec3_prev_ade::before,
.sec3 .sec3_next_ade::before {
  content: "";
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--color_gray);
  position: absolute;
  transition: var(--speed_03);
}

.sec3 .sec3_prev_new::after,
.sec3 .sec3_next_new::after,
.sec3 .sec3_prev_hot::after,
.sec3 .sec3_next_hot::after,
.sec3 .sec3_prev_ice::after,
.sec3 .sec3_next_ice::after,
.sec3 .sec3_prev_ade::after,
.sec3 .sec3_next_ade::after {
  content: "";
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: var(--color_gray);
  position: absolute;
  transition: var(--speed_03);
}

.sec3 .sec3_next_new::before,
.sec3 .sec3_next_new::after,
.sec3 .sec3_next_hot::before,
.sec3 .sec3_next_hot::after,
.sec3 .sec3_next_ice::before,
.sec3 .sec3_next_ice::after,
.sec3 .sec3_next_ade::before,
.sec3 .sec3_next_ade::after {
  right: 0;
}

.sec3 .sec3_prev_new::before,
.sec3 .sec3_prev_new::after,
.sec3 .sec3_prev_hot::before,
.sec3 .sec3_prev_hot::after,
.sec3 .sec3_prev_ice::before,
.sec3 .sec3_prev_ice::after,
.sec3 .sec3_prev_ade::before,
.sec3 .sec3_prev_ade::after {
  left: 0;
}

.sec3 .sec3_prev_new:hover::before,
.sec3 .sec3_next_new:hover::before,
.sec3 .sec3_prev_new:hover::after,
.sec3 .sec3_next_new:hover::after,
.sec3 .sec3_prev_hot:hover::before,
.sec3 .sec3_next_hot:hover::before,
.sec3 .sec3_prev_hot:hover::after,
.sec3 .sec3_next_hot:hover::after,
.sec3 .sec3_prev_ice:hover::before,
.sec3 .sec3_next_ice:hover::before,
.sec3 .sec3_prev_ice:hover::after,
.sec3 .sec3_next_ice:hover::after,
.sec3 .sec3_prev_ade:hover::before,
.sec3 .sec3_next_ade:hover::before,
.sec3 .sec3_prev_ade:hover::after,
.sec3 .sec3_next_ade:hover::after {
  background-color: var(--point_color);
}

.sec3 .sec3_prev_new:hover::before,
.sec3 .sec3_prev_hot:hover::before,
.sec3 .sec3_prev_ice:hover::before,
.sec3 .sec3_prev_ade:hover::before {
  width: 40px;
  left: -20px;
}

.sec3 .sec3_prev_new:hover::after,
.sec3 .sec3_prev_hot:hover::after,
.sec3 .sec3_prev_ice:hover::after,
.sec3 .sec3_prev_ade:hover::after {
  left: -20px;
}

.sec3 .sec3_next_new:hover::before,
.sec3 .sec3_next_hot:hover::before,
.sec3 .sec3_next_ice:hover::before,
.sec3 .sec3_next_ade:hover::before {
  width: 40px;
  right: -20px;
}

.sec3 .sec3_next_new:hover::after,
.sec3 .sec3_next_hot:hover::after,
.sec3 .sec3_next_ice:hover::after,
.sec3 .sec3_next_ade:hover::after {
  /* right: calc(-200% - 20px); */
  right: -20px;
}

/* section 3 end */
/* section 4 start */

.sec4 {
  padding: 7% 0;
  position: relative;
  overflow: hidden;
  /* border: 1px solid salmon; */
}

.sec4 .sec4_inner {
  /* border: 2px solid lavender; */
  position: relative;
}

.sec4 .sec4_inner::before {
  content: "";
  background-image: url(../resource/human02.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 10%;
  left: -200px;
  width: 20%;
  height: 20%;
}

.sec4 .sec4_inner::after {
  content: "";
  background-image: url(../resource/human03.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -5%;
  right: -180px;
  width: 11%;
  height: 11%;
}

.sec4_h2_wrap {
  text-align: center;
  padding-bottom: 3%;
}

.sec4 h2 {
  text-align: center;
  font-size: var(--font_size_H1);
  font-family: var(--font_ScoreDream);
  font-weight: bold;
  position: relative;
  display: inline;
}

.sec4 h2::before {
  content: "";
  background-image: url(../resource/duddle03.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -23px;
  left: -35px;
  width: 40px;
  height: 40px;
}

.sec4 .grid_box {
  width: 100%;
  /* border: 3px solid lightblue; */
  display: grid;
  grid-template-columns: 39% 59%;
  grid-template-rows: 300px 30px 100px 230px;
  column-gap: 2%;
  row-gap: 20px;
}

.sec4 .grid_box > article {
  overflow: hidden;
  /* border: 1px solid green; */
}

/* grid 01 cafe_img start */
.sec4 .open_cafe {
  /* background-color: turquoise; */
  grid-row: span 2;
  position: relative;
  /* border: 1px solid red; */
}

.sec4 .open_cafe img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 130%;
}

.sec4 .open_cafe p:first-of-type,
.sec4 .open_cafe p:last-of-type {
  position: absolute;
  color: var(--color_white);
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.sec4 .open_cafe p:first-of-type {
  top: 5%;
  left: 5%;
  font-size: var(--font_size_H1);
  font-family: var(--font_ScoreDream);
  font-weight: bold;
}

.sec4 .open_cafe p:last-of-type {
  bottom: 5%;
  right: 5%;
  font-size: var(--font_size_b1);
  font-family: var(--font_nexon);
  /* border: 1px solid red; */
}

/* grid 02 interview slide start */
.sec4 .interview_con {
  background-color: var(--main_color1);
}

.sec4 .real_interview {
  /* border: 1px solid black; */
  height: 100%;
}

.sec4 .real_interview li {
  display: flex;
  position: relative;
}

.sec4 .interview_img {
  flex: 1;
  overflow: hidden;
  position: relative;
  /* border: 1px solid green; */
}

.sec4 .interview_text {
  /* border: 1px solid green; */
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sec4 .interview_img img {
  width: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec4 .interview_text p:first-of-type {
  font-size: var(--font_size_H3);
  font-family: var(--font_ScoreDream);
  word-break: keep-all;
  color: var(--color_black);
}

.sec4 .interview_text p:last-of-type {
  font-size: var(--font_size_b2);
  font-family: var(--font_nexon);
}

.sec4 .interview_text p:last-of-type span {
  display: block;
  position: relative;
  /* padding-bottom: 10px; */
}

.sec4 .interview_text p:last-of-type span::after {
  content: "";
  border-bottom: 1px dotted var(--color_gray);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.sec4 .interview_text a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sec4 .sec4_pg {
  position: absolute;
  top: auto;
  bottom: 5%;
  right: 3%;
  left: auto !important;
  transform: translateX(0%) !important;
  /* border: 1px solid red; */
}

.sec4 .sec4_pg > span {
  background-color: var(--point_color);
}

/* grid 03 meeting banner start */
.sec4 .meeting_banner {
  grid-row: span 2;
  padding: 1.7rem 2rem;
  position: relative;
  z-index: 1;
  color: var(--color_black);
}

.sec4 .meeting_banner::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../resource/business_meeting.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  z-index: -1;
  transition: var(--speed_03);
}

.sec4 .meeting_banner:hover::before {
  scale: 1.05;
}

.sec4 .meeting_banner h4 {
  font-size: var(--font_size_H2);
  font-family: var(--font_ScoreDream);
  padding-bottom: 0.5rem;
}
.sec4 .meeting_banner p {
  font-size: var(--font_size_b2);
  font-family: var(--font_nexon);
  line-height: 22px;
}

.sec4 .meeting_banner a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* sec4 notice start */
.sec4 .notice {
  background-color: var(--main_color3);
  grid-row: span 2;
  color: var(--color_black);
  padding: 2rem;
}

.sec4 .notice_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.sec4 .notice h4 {
  /* border: 1px solid red; */
  font-size: var(--font_size_H3);
  font-family: var(--font_ScoreDream);
  display: block;
}

.sec4 .notice_head > a {
  /* border: 1px solid green; */
  display: block;
  background-color: var(--main_color4);
  color: var(--color_white);
  font-size: var(--font_size_b2);
  font-family: var(--font_nexon);
  padding: 0.3rem 4rem 0.3rem 1.5rem;
  text-align: left;
  border-radius: 999px;
  position: relative;
  white-space: nowrap;
}

.sec4 .notice_head > a::before,
.sec4 .notice_head > a::after {
  content: "";
  height: 2px;
  position: absolute;
  top: auto;
  left: auto;
  transition: var(--speed_03);
  background-color: var(--color_white);
}

.sec4 .notice_head > a::before {
  width: 20%;
  bottom: 35%;
  right: 20%;
}

.sec4 .notice_head > a::after {
  width: 8%;
  bottom: 47%;
  right: 19%;
  transform: rotate(45deg);
}

.sec4 .notice_head > a:hover::before {
  right: 13%;
}

.sec4 .notice_head > a:hover::after {
  right: 12%;
}

.sec4 .notice_con {
  /* border: 1px solid salmon; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec4 .notice_con li {
  /* border: 2px solid lightblue; */
  display: flex;
  padding: 2% 0;
  margin-bottom: 3%;
  position: relative;
}

.sec4 .notice_con li:last-of-type {
  margin-bottom: 0;
}

.sec4 .notice_title {
  /* border: 1px solid gray; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 7;
  font-size: var(--font_size_b2);
  font-family: var(--font_nexon);
}

.sec4 .notice_date {
  /* border: 1px solid darkcyan; */
  flex: 2;
  text-align: right;
  white-space: nowrap;
  font-size: var(--font_size_b2);
  font-family: var(--font_nexon);
}

.sec4 .notice_hr {
  border: none;
  border-bottom: 1px solid var(--color_black);
  position: absolute;
  width: 0;
  bottom: -3%;
}

.sec4 .notice_con li:hover .notice_hr {
  width: 100%;
}

.sec4 .notice_con li > a:first-of-type {
  /* border: 2px solid red; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/*  */
.sec4 .store_con {
  background-color: var(--main_color2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid gold; */
}

.sec4 .store_con h4 {
  font-size: var(--font_size_H3);
  font-family: var(--font_ScoreDream);
  /* padding: 1rem; */
}

.sec4 .store_wrap {
  /* border: 1px solid red; */
  width: 90%;
  display: flex;
  justify-content: space-between;
  /* padding-bottom: 1rem; */
}

.sec4 .store {
  /* border: 1px solid green; */
  width: calc(100% / 4 - 2rem);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition: var(--speed_03);
  position: relative;
}

.sec4 .store:hover {
  scale: 1.05;
}

.sec4 .store a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sec4 .store > div {
  /* border: 1px solid red; */
  overflow: hidden;
  position: relative;
  padding-top: 55%;
}

.sec4 .store > div img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130%;
}

.sec4 .store p {
  text-align: center;
  background-color: var(--main_color1);
  font-size: var(--font_size_H4);
  font-family: var(--font_ScoreDream);
}

/* sec4 end */
/* footer start */

.ft_award {
  border: 1px solid var(--color_light_gray);
  border-right: none;
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ft_award li {
  padding: 1.5% 1%;
}

.ft_middle_wrap {
  border-bottom: 1px solid var(--color_light_gray);
}

.ft_middle {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
}

.ft_middle a {
  /* border: 1px solid red; */
  padding: 0.5rem 1rem;
  position: relative;
  font-size: var(--font_size_b2);
  font-family: var(--font_nexon);
  color: var(--color_black);
}

.ft_middle a:first-of-type {
  padding-left: 0;
}

.ft_middle a::after {
  content: "";
  position: absolute;
  top: 15%;
  right: 0;
  width: 1px;
  height: 70%;
  background-color: var(--color_light_gray);
}

.ft_middle a:last-of-type::after {
  display: none;
}

.ft_copyright {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.ft_simbol {
  padding-right: 3%;
  padding-top: 7px;
}

.ft_copyright .copy {
  font-size: var(--font_size_H4);
  font-family: var(--font_ScoreDream);
  line-height: 28px;
}

/* footer end */

/* @media */

@media (max-width: 1500px) {
  .sec3 .sec3_next::before,
  .sec3 .sec3_next::after {
    right: 10%;
  }

  .sec3 .sec3_prev::before,
  .sec3 .sec3_prev::after {
    left: 10%;
  }

  .sec3 .sec3_prev:hover::before {
    width: 50px;
    left: calc(-10% - 10px);
  }

  .sec3 .sec3_prev:hover::after {
    left: calc(-10% - 10px);
  }

  .sec3 .sec3_next:hover::before {
    width: 50px;
    right: calc(-10% - 10px);
  }

  .sec3 .sec3_next:hover::after {
    right: calc(-10% - 10px);
  }
}

@media (max-width: 1350px) {
  .floating {
    display: none;
  }

  .m_floating,
  .m_floating_btn {
    display: block;
  }

  .sec4 .grid_box {
    grid-template-columns: 49% 49%;
    grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 2%;
    row-gap: 1.5%;
  }

  .sec4 .open_cafe {
    grid-row: span 1;
    order: 4;
  }

  .sec4 .interview_con {
    grid-column: span 2;
  }

  .sec4 .interview_img {
    flex: 1.5;
  }

  .sec4 .interview_img img {
    width: 100%;
  }

  .sec4 .interview_text {
    flex: 2;
  }

  .sec4 .meeting_banner {
    grid-column: span 2;
    grid-row: span 1;
    order: 1;
  }

  .sec4 .store_con {
    grid-column: span 2;
    order: 2;
  }

  .sec4 .store_con h4 {
    padding-top: 1rem;
  }

  .sec4 .store_wrap {
    padding: 1rem 0;
  }

  .sec4 .notice {
    grid-row: span 1;
    order: 3;
  }

  .sec4 .notice_head {
    padding-bottom: 1rem;
  }

  .sec4 .notice_con li {
    margin-bottom: 1%;
  }
}

@media (max-width: 1150px) {
  .sec2 .value_con {
    flex-direction: column;
  }

  .sec2 .value_con article:first-of-type {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .sec2 .value_con .value_img {
    width: 20%;
    padding-top: 20%;
  }

  .sec2 .value_con .value_img img {
    width: auto;
    height: 100%;
    transform: translate(-40%, -50%);
  }

  .sec4 .interview_img img {
    width: 120%;
  }
}

@media (max-width: 1080px) {
  .sec3 .menu_con .menu_title {
    font-size: 1em;
  }

  .sec3 .menu_con .menu_desc {
    font-size: 0.7em;
  }

  .sec4 .notice_head {
    padding-bottom: 0.7rem;
  }

  .sec4 .notice_head h4 {
    font-size: var(--font_size_H4);
  }

  .sec4 .notice_head > a {
    font-size: 0.7rem;
  }
}

@media (max-width: 950px) {
  .hd .gnb {
    font-size: 0.8rem;
  }

  .gotop {
    display: none;
  }

  .sec2 h2,
  .sec3 h2,
  .sec4 h2 {
    font-size: var(--font_size_H2);
  }

  .sec2 .brand_symbol {
    width: 20%;
  }

  .sec2 .brand_txt p {
    font-size: var(--font_size_b2);
  }

  .sec2 .value_con .value_img {
    width: 30%;
    padding-top: 30%;
  }

  .sec3 .sec3_btns button {
    font-size: var(--font_size_H3);
  }

  .sec4 .open_cafe p:first-of-type {
    font-size: var(--font_size_H2);
  }

  .sec4 .interview_con .interview_text p:first-of-type {
    font-size: var(--font_size_H4);
  }

  .sec4 .interview_text {
    padding: 0.7rem;
  }

  .sec4 .notice_head > a {
    padding: 0.3rem 3rem 0.3rem 0.7rem;
  }

  .ft_copyright .copy {
    font-size: 0.8em;
  }
}

@media (max-width: 670px) {
  .hd .sns_icons {
    display: none;
  }

  .sec3 .sec3_btns button {
    font-size: var(--font_size_H4);
  }

  .sec3::before {
    width: 45px;
    height: 65px;
  }

  .sec4 .grid_box {
    grid-template-columns: 1fr;
    grid-template-rows: 250px 150px 420px 300px 350px;

    row-gap: 20px;
  }

  .sec4 .open_cafe p:first-of-type {
    font-size: var(--font_size_H1);
  }

  .sec4 .interview_con {
    grid-column: span 1;
  }

  .sec4 .meeting_banner {
    grid-column: span 1;
  }

  .sec4 .meeting_banner h4 {
    font-size: var(--font_size_H3);
  }

  .sec4 .meeting_banner p {
    font-size: var(--font_size_b3);
  }

  .sec4 .notice_head h4 {
    font-size: var(--font_size_H3);
  }

  .sec4 .notice_head > a {
    font-size: var(--font_size_b2);
    padding: 0.3rem 4rem 0.3rem 1rem;
  }

  .sec4 .store_con {
    grid-column: span 1;
  }

  .sec4 .store p {
    font-size: 0.8rem;
  }

  .sec4 .store_con .store_wrap {
    flex-wrap: wrap;
  }

  .sec4 .store_con .store {
    width: calc(100% / 2 - 1rem);
    margin-bottom: 1rem;
  }
}
@media (max-width: 450px) {
  .hd .gnb {
    font-size: 0.5rem;
  }

  .hd .sub a::after {
    width: 3px;
    height: 3px;
  }

  .hd .sub a:hover {
    scale: 1.05;
  }

  .sec2 .brand_desc {
    flex-direction: column;
  }

  .sec2 .brand_txt p {
    font-size: 0.7rem;
  }

  .sec2 .value_con > article {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  .sec2 .value_con .value_img {
    width: 100%;
  }

  .sec2 .value_con .value_img img {
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
  }

  .sec2 .value_desc a {
    font-size: 0.8rem;
    left: 0;
    right: auto;
    padding: 0.3rem 3rem 0.3rem 1rem;
  }

  .sec4 .grid_box {
    grid-template-rows: 160px 150px 300px 230px 350px;
  }

  .sec4 .open_cafe p:first-of-type {
    font-size: var(--font_size_H2);
  }

  .sec4 .interview_con .interview_text p:first-of-type {
    font-size: 0.8rem;
  }

  .sec4 .interview_text p:last-of-type {
    font-size: 0.5rem;
  }

  .sec4 .meeting_banner {
    padding: 1rem;
  }

  .sec4 .notice_head h4 {
    font-size: var(--font_size_H4);
  }

  .sec4 .notice_head > a {
    font-size: var(--font_size_b3);
    padding: 0.3rem 3rem 0.3rem 1rem;
  }

  .sec4 .notice_title,
  .sec4 .notice_date {
    font-size: 0.7rem;
  }

  .ft_middle a {
    font-size: 0.8rem;
  }

  .ft_copyright {
    flex-direction: column;
  }
}
